.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.App-emoji__sparkles {
  /*animation: App-emoji-resize 4.5s linear 0s infinite normal;*/
  font-size: 5em;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 60px;
}

.App-title {
  color: thistle;
  font-family: 'Bad Script', cursive;
}

.App-logo {
  width: 12%;
  border-radius: 50%;
  margin-right: 10px;
}

.App-intro {
  padding-top: 60px;
  font-size: 1.25em;
  text-align: justify;
}

.App-intro h1 {
  font-size: 1em;
  display: inline;
}

.App-emoji-heart {
  font-size: 0.75em;
  color: thistle;
}

.App-links {
  color: gold;
  font-weight: 700;
}

.App-links:hover,
.App-links:focus {
  cursor: pointer;
  color: thistle;
  text-decoration: none;
}

.App-icon-links {
  padding-top: 40px;
  letter-spacing: 16px;
}

.App-icon-links i:hover {
  cursor: pointer;
}

.fa {
  color: thistle;
}

.fa:hover {
  color: gold;
}

@media screen and (max-width: 768px) {
  .App-header {
    justify-content: center;
    padding-top: 30px;
  }

  .App-intro {
    padding-top: 30px;
    width: 90%;
    font-size: 1.1em;
  }
}

@keyframes App-emoji-resize {
  0%   { transform: scale(1.0); transform: rotate(0deg); opacity: 1; }
  25%  { transform: scale(0.5); transform: rotate(25deg); opacity: .25; }
  50%  { transform: scale(1.0); transform: rotate(0deg); opacity: 1; }
  75%  { transform: scale(0.5); transform: rotate(-25deg); opacity: .25; }
  100% { transform: scale(1.0); transform: rotate(0deg); opacity: 1; }
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
